<div class="page-header">
	<div class="container">
		<h2>Elenco indirizzi</h2>
	</div>
</div>

<div class="container">
	<div class="pull-right">
		<a href="#/address/new" class="btn btn-success">Aggiungi indirizzo</a>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Indirizzo</th>
				<th>Citt&agrave;</th>
				<th>Nazione</th>
			</tr>
		</thead>
		<tbody data-ng-if="objects.length > 0">
			<tr data-ng-repeat="address in objects">
				<td>{{ address.address }}</td>
				<td>{{ address.city }}</td>
				<td>{{ address.state }}</td>
			</tr>
		</tbody>
		<tbody data-ng-if="objects == undefined || objects.length == 0">
			<tr>
				<td colspan="2">Nessun indirizzo</td>
			</tr>
		</tbody>
	</table>

	<pager data-total-items="totalItems" data-ng-model="currentPage" data-items-per-page="10" previous-text="&laquo; Indietro" next-text="Avanti &raquo;" data-ng-change="onPagerChange()"></pager>
</div>
