<div data-ng-controller="ConferenceCreateController">
	<div class="page-header" data-ng-hide="noHeader">
		<div class="container">
			<h2>Nuova conferenza</h2>
		</div>
	</div>

	<div class="container">
		<div data-ng-include="'/static/views/partials/forms/conference_form.html'"></div>
	</div>
</div>
