<div class="page-header">
	<div class="container">
		<button data-ng-if="!editing" class="btn btn-default pull-right" type="button" data-ng-click="editConference()">Modifica</button>
		<button data-ng-if="editing" type="button" class="btn btn-warning pull-right" data-ng-click="disableEditConference()">Annulla</button>

		<h2>{{ currentConference.title }}</h2>
		<h3 data-ng-if="currentConference.start_date != currentConference.end_date">
			Dal <span>{{ currentConference.start_date | date : 'dd/MM/yyyy' }}</span> al <span>{{ currentConference.end_date | date : 'dd/MM/yyyy' }}</span>
		</h3>
		<h3 data-ng-if="currentConference.start_date == currentConference.end_date">
			<span>{{ currentConference.start_date | date : 'dd MMMM yyyy' }}</span>
		</h3>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div data-ng-if="editing">
				<div data-ng-include="'/static/views/partials/forms/conference_form.html'"></div>
			</div>
			<div data-ng-if="!editing">
				<label>Titolo</label>
				<div class="form-control-static">{{ currentConference.title }}</div>
				<label>Sottotitolo</label>
				<div class="form-control-static">{{ currentConference.subtitle }}</div>
				<div class="row">
					<div class="col-md-6">
						<label>Inizio</label>
						<div class="form-control-static">{{ currentConference.start_date | date : 'dd/MM/yyyy' }}</div>
					</div>
					<div class="col-md-6">
						<label>Fine</label>
						<div class="form-control-static">{{ currentConference.end_date | date : 'dd/MM/yyyy' }}</div>
					</div>
				</div>
				<label>Indirizzo</label>
				<div class="form-control-static">{{ currentVenue.address }} {{ currentVenue.city }}</div>
			</div>
		</div>
		<div class="col-md-4">
			<google-map center="map.center" zoom="map.zoom">
				<marker data-ng-if="marker" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></marker>
			</google-map>
			<div class="panel panel-default">
				<div class="panel-heading">Alcune statistiche</div>
				<div class="panel-body">
					<dl class="dl-horizontal">
						<dt>Giorni</dt>
						<dd>{{ statistics.days }}</dd>
						<dt>Tracce</dt>
						<dd>{{ statistics.tracks }}</dd>
						<dt>Eventi</dt>
						<dd>{{ statistics.events }}</dd>
						<dt>Persone coinvolte</dt>
						<dd>{{ statistics.people }}</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<h3>Giorni</h3>
		<table class="table table-condensed table-striped">
			<thead>
				<tr>
					<th>Data</th>
					<th>Nome</th>
					<th>Azioni</th>
				</tr>
			</thead>
			<tbody data-ng-if="days.length > 0">
				<tr data-ng-repeat="day in days">
					<td>{{ day.day_date | date : 'dd/MM/yyyy' }}</td>
					<td>{{ day.name }}</td>
					<td>
						<a href="#/day/show/{{ day.day_id }}" class="btn btn-default btn-xs">Dettagli</a>
						<button type="button" class="btn btn-warning btn-xs">Rimuovi</button>
					</td>
				</tr>
			</tbody>
			<tbody data-ng-if="days == undefined || days.length == 0">
				<tr>
					<td colspan="2">Nessun giorno associato</td>
				</tr>
			</tbody>
		</table>

		<button class="btn btn-primary btn-sm">
			<span class="glyphicon glyphicon-plus-sign"></span>
			Aggiungi giorno
		</button>
	</div>
</div>
