<div class="page-header">
	<div class="container">
		<h2>{{ day.name }}</h2>
		<h3>{{ day.day_date | date : 'dd MMMM yyyy' }}</h3>
	</div>
</div>

<div class="container">
	<form role="form" data-ng-if="editing">
		<div class="form-group">
			<label for="day_name">Nome</label>
			<input id="day_name" data-ng-model="day.name" type="text" class="form-control" placeholder="Nome" />
		</div>
		<div class="form-group">
			<label for="conference_start_date">Data</label>
			<div class="input-group">
				<input id="day_date" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" datepicker.options="datepickers.defaultOptions" is-open="datepickers.isDateOpen" data-ng-model="day.day_date" close-text="Chiudi" clear-text="Azzera" current-text="Oggi" title="Data" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" data-ng-click="openDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
		</div>
		<button type="button" class="btn btn-info">Salva</button>
		<button type="button" class="btn btn-primary" data-ng-click="disableEditDay()">Annulla</button>
	</form>
	<div data-ng-if="!editing">
		<button class="btn btn-default pull-right" type="button" data-ng-click="editDay()">Modifica</button>
		<label>Nome</label>
		<div class="form-control-static">{{ day.name }}</div>
		<label>Data</label>
		<div class="form-control-static">{{ day.day_date | date : 'dd/MM/yyyy' }}</div>
	</div>

	<h3>Tracce</h3>
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>Titolo</th>
				<th>Stanza</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody data-ng-if="tracks.length > 0">
			<tr data-ng-repeat="track in tracks">
				<td>{{ track.title }}</td>
				<td>{{ track.room }}</td>
				<td>
					<a href="#/track/show/{{ track.track_id }}" class="btn btn-default btn-xs">Dettagli</a>
					<button type="button" class="btn btn-warning btn-xs" data-ng-if="editing">Rimuovi</button>
				</td>
			</tr>
		</tbody>
		<tbody data-ng-if="tracks == undefined || tracks.length == 0">
			<tr>
				<td colspan="2">Nessuna traccia associata</td>
			</tr>
		</tbody>
	</table>
</div>
