<div class="page-header">
	<div class="container">
		<h2>Spiacente, &egrave; avvenuto un errore :-(</h2>
	</div>
</div>

<div class="container">
	<div data-ng-if="errorCode == '404'">
		<div class="fake-terminal">
			<div class="titlebar">
				Terminale
				<div class="pull-right">x</div>
			</div>
			<div class="menubar">File&nbsp;&nbsp;Modifica&nbsp;&nbsp;Visualizza&nbsp;&nbsp;Segnalibri&nbsp;&nbsp;Impostazioni&nbsp;&nbsp;Aiuto</div>
			<div class="content">
				user@darkstar:~$ goToPage "{{ from }}"<br />
				> Errore 404. Pagina non trovata
			</div>
		</div>
	</div>
	<div data-ng-if="errorCode == '421'">
		<div class="fake-terminal">
			<div class="titlebar">
				Terminale
				<div class="pull-right">x</div>
			</div>
			<div class="menubar">File&nbsp;&nbsp;Modifica&nbsp;&nbsp;Visualizza&nbsp;&nbsp;Segnalibri&nbsp;&nbsp;Impostazioni&nbsp;&nbsp;Aiuto</div>
			<div class="content">
				user@darkstar:~$ get "{{ from }}"<br />
				> Risorsa non trovata
			</div>
		</div>
	</div>
	<div data-ng-if="errorCode == '403'">
		<div class="fake-terminal">
			<div class="titlebar">
				Terminale
				<div class="pull-right">x</div>
			</div>
			<div class="menubar">File&nbsp;&nbsp;Modifica&nbsp;&nbsp;Visualizza&nbsp;&nbsp;Segnalibri&nbsp;&nbsp;Impostazioni&nbsp;&nbsp;Aiuto</div>
			<div class="content">
				user@darkstar:~$ get "{{ from }}"<br />
				> Permessi non sufficienti
			</div>
		</div>
	</div>
	<div data-ng-if="errorCode == '499'">
		<div class="fake-terminal">
			<div class="titlebar">
				Terminale
				<div class="pull-right">x</div>
			</div>
			<div class="menubar">File&nbsp;&nbsp;Modifica&nbsp;&nbsp;Visualizza&nbsp;&nbsp;Segnalibri&nbsp;&nbsp;Impostazioni&nbsp;&nbsp;Aiuto</div>
			<div class="content">
				user@darkstar:~$<br />
				> Kernel Panic! &Egrave; avvenuto un errore imprevisto.
			</div>
		</div>
	</div>
</div>
