<div class="page-header">
	<div class="container">
		<h2>{{ event.title }}</h2>
		<h3>
			di <span data-ng-repeat="person in people">{{ person.name }} {{ person.surname }}<span data-ng-if="!$last">, </span></span>
		</h3>
	</div>
</div>

<div class="container">
	<form role="form" data-ng-if="editing">
		<div class="form-group">
			<label for="event_title">Titolo</label>
			<input id="event_title" data-ng-model="event.title" type="text" class="form-control" placeholder="Titolo" />
		</div>
		<div class="form-group">
			<label for="event_subtitle">Sottotitolo</label>
			<textarea id="event_subtitle" data-ng-model="event.subtitle" class="form-control" placeholder="Sottotitolo" rows="3"></textarea>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="event_abstract">Abstract</label>
					<textarea id="event_abstract" data-ng-model="event.abstract" class="form-control" placeholder="Abstract" rows="5"></textarea>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="event_description">Descrizione</label>
					<textarea id="event_description" data-ng-model="event.description" class="form-control" placeholder="Descrizione" rows="5"></textarea>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="event_type">Tipo di evento</label>
			<select data-ui-select2 id="event_type" data-ng-model="event.event_type" title="Tipo di evento" class="fullwidth">
				<option data-ng-repeat="event_type in event_types_ids | filter: $select.search" value="{{ event_type }}">{{ event_types[$index].code }}</option>
			</select>
		</div>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>Orario di inizio</label>
					<timepicker data-ng-model="event.start_date" data-hour-step="1" data-minute-step="5" data-show-meridian="false"></timepicker>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for="event_duration">Durata (min)</label>
					<input id="event_duration" data-ng-model="event.duration" type="text" class="form-control" placeholder="Durata" />
				</div>
			</div>
		</div>

		<button type="button" class="btn btn-info">Salva</button>
		<button type="button" class="btn btn-primary" data-ng-click="disableEditEvent()">Annulla</button>
	</form>

	<div data-ng-if="!editing">
		<button class="btn btn-default pull-right" type="button" data-ng-click="editEvent()">Modifica</button>
		<label>Titolo</label>
		<div class="form-control-static">{{ event.title }}</div>
		<label>Sottotitolo</label>
		<div class="form-control-static">{{ event.subtitle }}</div>
		<label>Abstract</label>
		<div class="form-control-static">{{ event.abstract }}</div>
		<label>Descrizione</label>
		<div class="form-control-static">{{ event.description }}</div>
		<label>Tipo di evento</label>
		<div class="form-control-static">{{ event.event_type }}</div>
		<label>Orario di inizio</label>
		<div class="form-control-static">{{ event.start_date | date: "hh:mm" }}</div>
		<label>Durata (min)</label>
		<div class="form-control-static">{{ event.duration }}</div>
	</div>

	<h3>Persone</h3>
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Cognome</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody data-ng-if="people.length > 0">
			<tr data-ng-repeat="person in people">
				<td>{{ person.name }}</td>
				<td>{{ person.surname }}</td>
				<td>
					<a href="#/person/show/{{ person.person_id }}" class="btn btn-default btn-xs">Dettagli</a>
					<button type="button" class="btn btn-warning btn-xs" data-ng-if="editing">Rimuovi</button>
				</td>
			</tr>
		</tbody>
		<tbody data-ng-if="people == undefined || people.length == 0">
			<tr>
				<td colspan="2">Nessuna persona associata</td>
			</tr>
		</tbody>
	</table>

	<h3>Link</h3>
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>Link</th>
				<th>Descrizione</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody data-ng-if="event.links.length > 0">
			<tr data-ng-repeat="link in event.links">
				<td>{{ link.link }}</td>
				<td>{{ link.description }}</td>
				<td>
					<a href="#/link/show/{{ link.link_id }}" class="btn btn-default btn-xs">Dettagli</a>
					<button type="button" class="btn btn-warning btn-xs" data-ng-if="editing">Rimuovi</button>
				</td>
			</tr>
		</tbody>
		<tbody data-ng-if="event.links == undefined || event.links.length == 0">
			<tr>
				<td colspan="2">Nessun link associato</td>
			</tr>
		</tbody>
	</table>
</div>
