<div class="page-header">
	<div class="container">
		<h2>Elenco tipi di evento</h2>
	</div>
</div>

<div class="container">
	<div class="pull-right">
		<a href="#/eventType/new" class="btn btn-success">Aggiungi tipo</a>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Tipo</th>
				<th>Descrizione</th>
			</tr>
		</thead>
		<tbody data-ng-if="objects.length > 0">
			<tr data-ng-repeat="eventType in objects">
				<td>{{ eventType.code }}</td>
				<td>{{ eventType.description }}</td>
			</tr>
		</tbody>
		<tbody data-ng-if="objects == undefined || objects.length == 0">
			<tr>
				<td colspan="3">Nessun tipo</td>
			</tr>
		</tbody>
	</table>

	<pager data-total-items="totalItems" data-ng-model="currentPage" data-items-per-page="10" previous-text="&laquo; Indietro" next-text="Avanti &raquo;" data-ng-change="onPagerChange()"></pager>
</div>
