<div class="jumbotron">
	<div class="container">
		<h1>LinuxDay Cagliari</h1>
		<p>Benvenuto nell'applicazione di gestione dei Linux Day organizzati dal GULCh (Gruppo Utenti Linux Cagliari h...?)</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Siti esterni</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li title="Il sito del GULCh. Riporta le notizie pubblicate dal LUG."><a href="http://www.gulch.it">GULCh</a></li>
						<li title="Il sito del LinuxDay organizzato a Cagliari. Contiene i programmi e il materiale dei vari LinuxDay svolti a Cagliari."><a href="http://linuxday.gulch.it">LinuxDay Cagliari</a></li>
						<li title="Il sito del LinuxDay nazionale."><a href="http://www.linuxday.it">LinuxDay.it</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-7">
			<div class="row">
				<div data-ng-if="user.logged">
					<div class="row">
						<div class="col-md-6" data-ng-if="conference.conference_id != undefined">
							<div class="panel panel-primary">
								<div class="panel-heading">Conferenza attuale</div>
								<div class="panel-body">
									<h3>{{ conference.title }}</h3>
									<p data-ng-if="conference.start_date != conference.end_date">
										Dal <span>{{ conference.start_date | date : 'dd/MM/yyyy' }}</span> al <span>{{ conference.end_date | date : 'dd/MM/yyyy' }}</span>
									</p>
									<p data-ng-if="conference.start_date == conference.end_date">
										<span>{{ conference.start_date | date : 'dd MMMM yyyy' }}</span>
									</p>
									<p><a class="btn btn-primary pull-right" href="#/conference/show/{{conference.conference_id}}">Dettagli</a></p>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="panel panel-default">
								<div class="panel-heading">Nuova conferenza</div>
								<div class="panel-body">
									<h3>Wizard</h3>
									<p>Wizard di creazione nuova conferenza</p>
									<button class="btn btn-default pull-right" type="button">Crea</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">Conferenze precedenti</div>
								<div class="panel-body">
									<div class="list-group">
										<a href="#/conference/show/{{c.conference_id}}" class="list-group-item" data-ng-repeat="c in previousConferences">
											<h4 class="list-group-item-heading">{{ c.title }}</h4>
											<p class="list-group-item-text">...</p>
										</a>
										<button type="button" class="btn btn-link" data-ng-if="previousConferences.length < previousConferencesTotal">Altro...</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-offset-1 col-md-8" data-ng-if="!user.logged">
					<h2 class="col-md-offset-2">Accedi</h2>

					<div data-ng-include="'/login_form.html'"></div>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Navigazione</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-pills nav-stacked">
						<li title="Interfaccia di amministrazione dell'applicazione (richiede login). Permette di creare utenti e assegnare permessi, oltre a permettere la creazione a basso livello degli oggetti sul database."><a href="/admin">Amministrazione</a></li>
						<li title="Elenco e documentazione delle API REST esposte da questa applicazione."><a href="/docs">Documentazione API</a></li>
					</ul>
					<ul class="nav nav-pills nav-stacked" data-ng-if="user.logged">
						<li><hr /></li>
						<li><a href="#/person/list">Elenco persone</a></li>
						<li><a href="#/eventType/list">Elenco tipi di evento</a></li>
						<li><a href="#/room/list">Elenco stanze</a></li>
						<li><a href="#/address/list">Elenco indirizzi</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
