<div class="page-header">
	<div class="container">
		<h2>Elenco persone</h2>
	</div>
</div>

<div class="container">
	<div class="pull-right">
		<a href="#/person/new" class="btn btn-success">Aggiungi persona</a>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Cognome</th>
				<th>Nome</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody data-ng-if="objects.length > 0">
			<tr data-ng-repeat="person in objects">
				<td>{{ person.surname }}</td>
				<td>{{ person.name }}</td>
				<td>
					<a href="#/person/show/{{ person.person_id }}" class="btn btn-default btn-xs">Dettagli</a>
				</td>
			</tr>
		</tbody>
		<tbody data-ng-if="objects == undefined || objects.length == 0">
			<tr>
				<td colspan="3">Nessuna persona</td>
			</tr>
		</tbody>
	</table>

	<pager data-total-items="totalItems" data-ng-model="currentPage" data-items-per-page="10" previous-text="&laquo; Indietro" next-text="Avanti &raquo;" data-ng-change="onPagerChange()"></pager>
</div>
