<div class="page-header">
	<div class="container">
		<h2>{{ person.name }} <span data-ng-if="person.middle_name != undefined && person.middle_name.length > 0">{{ person.middle_name }} </span>{{ person.surname }}</h2>
	</div>
</div>

<div class="container">
	<form role="form" data-ng-if="editing">
		<div class="row">
			<div class="col-md-4">
				<div class="form-group">
					<label for="person_name">Nome</label>
					<input id="person_name" data-ng-model="person.name" type="text" class="form-control" placeholder="Nome" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="person_middle_name">Secondo nome</label>
					<input id="person_middle_name" data-ng-model="person.middle_name" type="text" class="form-control" placeholder="Secondo nome" />
				</div>
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="person_surname">Cognome</label>
					<input id="person_surname" data-ng-model="person.surname" type="text" class="form-control" placeholder="Cognome" />
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="person_description">Descrizione</label>
			<textarea id="person_description" data-ng-model="person.description" class="form-control" placeholder="Descrizione" rows="5"></textarea>
		</div>
		<button type="button" class="btn btn-info">Salva</button>
		<button type="button" class="btn btn-primary" data-ng-click="disableEditPerson()">Annulla</button>
	</form>
	<div data-ng-if="!editing">
		<button class="btn btn-default pull-right" type="button" data-ng-click="editPerson()">Modifica</button>
		<label>Nome</label>
		<div class="form-control-static">{{ person.name }}</div>
		<label>Secondo nome</label>
		<div class="form-control-static">{{ person.middle_name }}</div>
		<label>Cognome</label>
		<div class="form-control-static">{{ person.surname }}</div>
		<label>Descrizione</label>
		<div class="form-control-static">{{ person.description }}</div>
	</div>
</div>
