<div class="page-header">
	<div class="container">
		<h2>Elenco stanze</h2>
	</div>
</div>

<div class="container">
	<div class="pull-right">
		<a href="#/room/new" class="btn btn-success">Aggiungi stanza</a>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Nome stanza</th>
			</tr>
		</thead>
		<tbody data-ng-if="objects.length > 0">
			<tr data-ng-repeat="room in objects">
				<td>{{ room.name }}</td>
			</tr>
		</tbody>
		<tbody data-ng-if="objects == undefined || objects.length == 0">
			<tr>
				<td colspan="2">Nessuna stanza</td>
			</tr>
		</tbody>
	</table>

	<pager data-total-items="totalItems" data-ng-model="currentPage" data-items-per-page="10" previous-text="&laquo; Indietro" next-text="Avanti &raquo;" data-ng-change="onPagerChange()"></pager>
</div>
