<div data-ng-controller="TrackCreateController">
	<div class="page-header" data-ng-hide="noHeader">
		<div class="container">
			<h2>Nuova traccia</h2>
		</div>
	</div>

	<div class="container">
		<div data-ng-include="'/static/views/partials/forms/track_form.html'"></div>
	</div>
</div>
