<div class="page-header">
	<div class="container">
		<h2>{{ track.title }}</h2>
		<h3>{{ track.subtitle }}</h3>
	</div>
</div>

<div class="container">
	<div data-ng-if="editing">
		<button type="button" class="btn btn-default pull-right" data-ng-click="disableEditTrack()">Annulla</button>
		<div data-ng-include="'/static/views/partials/forms/track_form.html'"></div>
	</div>
	<div data-ng-if="!editing">
		<button class="btn btn-default pull-right" type="button" data-ng-click="editTrack()">Modifica</button>
		<label>Titolo</label>
		<div class="form-control-static">{{ track.title }}</div>
		<label>Sottotitolo</label>
		<div class="form-control-static">{{ track.subtitle }}</div>
		<label>Stanza</label>
		<div class="form-control-static">{{ track.room }}</div>
	</div>

	<h3>Eventi</h3>
	<table class="table table-condensed table-striped">
		<thead>
			<tr>
				<th>Titolo</th>
				<th>Inizio</th>
				<th>Durata (min)</th>
				<th>Azioni</th>
			</tr>
		</thead>
		<tbody data-ng-if="events.length > 0">
			<tr data-ng-repeat="event in events | orderBy:'start_date'">
				<td>{{ event.title }}</td>
				<td>{{ event.start_date | date: 'HH:mm' }}</td>
				<td>{{ event.duration }}</td>
				<td>
					<a href="#/event/show/{{ event.event_id }}" class="btn btn-default btn-xs">Dettagli</a>
					<button type="button" class="btn btn-warning btn-xs" data-ng-if="editing">Rimuovi</button>
				</td>
			</tr>
		</tbody>
		<tbody data-ng-if="events == undefined || events.length == 0">
			<tr>
				<td colspan="2">Nessun evento associato</td>
			</tr>
		</tbody>
	</table>
</div>
