<div class="page-header">
	<div class="container">
		<h2>Wizard nuova conferenza</h2>
	</div>
</div>

<div class="container">
	<ul class="wizard clearfix">
		<li data-ng-repeat="step in steps" class="step" data-ng-class="{ current: $index == currentStep }">
			{{ step.title }}
			<div class="separator"></div>
		</li>
	</ul>
</div>

<div data-ng-include="htmlToLoad"></div>
