<form role="form" name="forms.conf_form">
	<div class="form-group">
		<label for="conference_title">Titolo</label>
		<input name="conference_title" data-ng-model="currentConference.title" type="text" class="form-control" placeholder="Titolo" required="required" data-ng-minlength="5" data-ng-maxlength="255" />
		<div class="custom-error" data-ng-show="forms.conf_form.conference_title.$dirty && forms.conf_form.conference_title.$invalid">
			<span data-ng-show="forms.conf_form.conference_title.$error.required">Inserisci il titolo.</span>
			<span data-ng-show="forms.conf_form.conference_title.$error.minlength">Il titolo deve essere lungo almeno 5 caratteri.</span>
			<span data-ng-show="forms.conf_form.conference_title.$error.maxlength">Il titolo non pu&ograve; essere pi&ugrave; lungo di 255 caratteri.</span>
		</div>
	</div>
	<div class="form-group">
		<label for="conference_subtitle">Sottotitolo</label>
		<textarea name="conference_subtitle" data-ng-model="currentConference.subtitle" class="form-control" placeholder="Sottotitolo" rows="5" data-ng-maxlength="1024"></textarea>
		<div class="custom-error" data-ng-show="forms.conf_form.conference_subtitle.$dirty && forms.conf_form.conference_subtitle.$invalid">
			<span data-ng-show="forms.conf_form.conference_subtitle.$error.maxlength">Il sottotitolo non pu&ograve; essere pi&ugrave; lungo di 1024 caratteri.</span>
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<label for="conference_start_date">Inizio</label>
			<div class="input-group">
				<input name="conference_start_date" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" datepicker.options="datepickers.defaultOptions" is-open="datepickers.isStartDateOpen" data-ng-model="currentConference.start_date" close-text="Chiudi" clear-text="Azzera" current-text="Oggi" title="Data di inizio" required="required" ldca-date-before="{{ currentConference.end_date }}" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" data-ng-click="openStartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
			<div class="custom-error" data-ng-show="forms.conf_form.conference_start_date.$dirty && forms.conf_form.conference_start_date.$invalid">
				<span data-ng-show="forms.conf_form.conference_start_date.$error.required">Inserisci la data di inizio.</span>
				<span data-ng-show="forms.conf_form.conference_start_date.$error.dateBefore">La data di inizio deve precedere la data di fine.</span>
			</div>
		</div>
		<div class="form-group col-md-6">
			<label for="conference_end_date">Fine</label>
			<div class="input-group">
				<input name="conference_end_date" type="text" class="form-control" datepicker-popup="dd/MM/yyyy" datepicker.options="datepickers.defaultOptions" is-open="datepickers.isEndDateOpen" data-ng-model="currentConference.end_date" close-text="Chiudi" clear-text="Azzera" current-text="Oggi" title="Data di fine" required="required" ldca-date-after="{{ currentConference.start_date }}" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" data-ng-click="openEndDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</div>
			<div class="custom-error" data-ng-show="forms.conf_form.conference_end_date.$dirty && forms.conf_form.conference_end_date.$invalid">
				<span data-ng-show="forms.conf_form.conference_end_date.$error.required">Inserisci la data di inizio.</span>
				<span data-ng-show="forms.conf_form.conference_end_date.$error.dateAfter">La data di fine deve essere successiva alla data di inizio.</span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<label for="conference_venue">Indirizzo</label>
		<select data-ui-select2 name="conference_venue" data-ng-model="currentConference.venue" title="Indirizzo" class="fullwidth" required="required">
			<option data-ng-repeat="venue in venues_ids | filter: $select.search" value="{{ venue }}">{{ venues[$index].address }} ({{ venues[$index].city }})</option>
		</select>
	</div>

	<button type="button" class="btn btn-info pull-right" data-ng-click="saveConference()"
		data-ng-disabled="forms.conf_form.$pristine || (forms.conf_form.$dirty && forms.conf_form.$invalid )">
		Salva
	</button>
</form>
