<form role="form" name="forms.track_form">
	<div class="form-group">
		<label for="track_title">Titolo</label>
		<input name="track_title" data-ng-model="track.title" type="text" class="form-control" placeholder="Titolo" required="required" data-ng-minlength="5" data-ng-maxlength="255" />

		<div class="custom-error" data-ng-show="forms.track_form.track_title.$dirty && forms.track_form.track_title.$invalid">
			<span data-ng-show="forms.track_form.track_title.$error.required">Inserisci il titolo.</span>
			<span data-ng-show="forms.track_form.track_title.$error.minlength">Il titolo deve essere lungo almeno 5 caratteri.</span>
			<span data-ng-show="forms.track_form.track_title.$error.maxlength">Il titolo non pu&ograve; essere pi&ugrave; lungo di 255 caratteri.</span>
		</div>
	</div>
	<div class="form-group">
		<label for="track_subtitle">Sottotitolo</label>
		<textarea name="track_subtitle" data-ng-model="track.subtitle" class="form-control" placeholder="Sottotitolo" rows="5" data-ng-maxlength="1024"></textarea>
		<div class="custom-error" data-ng-show="forms.track_form.track_subtitle.$dirty && forms.track_form.track_subtitle.$invalid">
			<span data-ng-show="forms.track_form.track_subtitle.$error.maxlength">Il sottotitolo non pu&ograve; essere pi&ugrave; lungo di 1024 caratteri.</span>
		</div>
	</div>
	<div class="form-group">
		<label for="track_room">Stanza</label>
		<select data-ui-select2 name="track_room" data-ng-model="track.room" title="Stanza" class="fullwidth" required="required">
			<option data-ng-repeat="room in rooms_ids | filter: $select.search" value="{{ room }}">{{ rooms[$index].name }}</option>
		</select>
	</div>

	<button type="button" class="btn btn-info pull-right" data-ng-click="saveTrack()"
		data-ng-disabled="forms.track_form.$pristine || (forms.track_form.$dirty && forms.track.$invalid)">
		Salva
	</button>
</form>
