{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html xmlns="http://www.w3.org/1999/xhtml" class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html xmlns="http://www.w3.org/1999/xhtml" class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html xmlns="http://www.w3.org/1999/xhtml" class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html xmlns="http://www.w3.org/1999/xhtml" class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 9]><!--> <html xmlns="http://www.w3.org/1999/xhtml" class="no-js"> <!--<![endif]-->
	<head>
		<title>LinuxDay Cagliari</title>

		<meta charset="utf-8" />
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width" />

		<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="{% static "linuxdayca-1.0.0.css" %}" />
	</head>

	<body data-ng-app="ldcaApp" data-ng-controller="MainController">
		<div class="navbar navbar-inverse navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">LinuxDay Cagliari</a>
				</div>
				<div data-ng-if="!user.logged" class="navbar-collapse collapse" data-ng-include="'/inline_login_form.html'"></div>
				<div data-ng-if="user.logged" class="navbar-collapse collapse">
					<div class="navbar-right">
						<div class="nav navbar-text">
							Ciao <span data-ng-bind="user.username"></span>
						</div>
						<a href="/logout" type="submit" class="btn btn-primary navbar-btn">Logout</a>
					</div>
				</div><!--/.navbar-collapse -->
			</div>
		</div>

		<div data-ui-view></div>

		<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
		<script src="{% static "linuxdayca-1.0.0.js" %}"></script>
		<script src="{% static "angular-i18n/angular-locale_it-it.js" %}"></script>
	</body>
</html>
