<form name="inline_login_form" method="post" action="/login/" class="navbar-form navbar-right" role="form">
	{% csrf_token %}
	<div class="form-group">
		<input name="login_username" type="text" placeholder="Username" class="form-control" data-ng-model="login.name">
	</div>
	<div class="form-group">
		<input name="login_password" type="password" placeholder="Password" class="form-control" data-ng-model="login.password">
	</div>
	<button type="submit" class="btn btn-success" data-ng-disabled="inline_login_form.login_username.$pristine || inline_login_form.login_password.$pristine">Login</button>
</form>
