<form method="post" action="/login/" class="form-horizontal" role="form" name="login_form" novalidate="novalidate">
	{% csrf_token %}
	<div class="form-group">
		<label for="login_username" class="col-md-2 control-label">Username</label>
		<div class="col-md-10">
			<input type="text" class="form-control" name="login_username" placeholder="Username" required="required" data-ng-model="login.name" />
		</div>
	</div>
	<div class="form-group">
		<label for="login_password" class="col-md-2 control-label">Password</label>
		<div class="col-md-10">
			<input type="password" class="form-control" name="login_password" placeholder="Password" required="required" data-ng-model="login.password" />
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<button
				type="submit" class="btn btn-default"
				data-ng-disabled="login_form.login_username.$pristine || login_form.login_password.$pristine">
				Login
			</button>
		</div>
	</div>
</form>
