<div class="modal-header">
	<h3 class="modal-title">Salvataggio completato</h3>
</div>
<div class="modal-body">
	Salvataggio completato con successo.
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="closeDialog()">Ok</button>
</div>
