<div class="modal-header">
	<h3 class="modal-title">Salvataggio fallito</h3>
</div>
<div class="modal-body">
	&Egrave; avvenuto un errore durante il salvataggio. Si prega di riprovare.
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-primary" ng-click="closeDialog()">Ok</button>
</div>
