html, body {
	font-family: 'Roboto Condensed', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-family: 'Roboto Condensed', sans-serif !important;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/static/glyphicons-halflings-regular.eot');
  src: url('/static/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/static/glyphicons-halflings-regular.woff') format('woff'), url('/static/glyphicons-halflings-regular.ttf') format('truetype'), url('/static/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.page-header {
	margin-top: 5px;

	h2 {
		margin-top: 0;
	}
}

.jumbotron {
	margin-top: -50px;
}

.select2-container {
	&.fullwidth {
		width: 100%;
	}

	a {
		min-width: 135px;
		min-height: 38px;
		padding-top: 5px !important;
	}

	.select2-arrow {
		padding-top: 5px;
	}
}

.angular-google-map-container {
	height: 200px;
	margin-bottom: 15px;
}

.fake-terminal {
	border: 4px solid #C2BBB8;
	outline: #C2BBB8 outset 2px;
	margin: 0 auto;
	width: 600px;
	height: 400px;
	background: #000000;

	.titlebar {
		font-weight: bold;
	}

	.titlebar,
	.menubar {
		background-color: #C2BBB8;
		font-size: 14px;
		padding: 5px;
		color: black;
	}

	.content {
		font-family: "Monospace";
		font-size: 12px;
		color: white;
		width: 100%;
		padding: 5px;
	}

// 	background: black; height: 400px; width: 600px; margin: 0 auto;
}

.ng-dirty.ng-invalid {
	border-color: #EC3F41;
}

.custom-error {
	margin-top: 15px;
	color: #EC3F41;
}

ul.wizard {
	padding: 0;
	margin: 0;
	margin-bottom: 15px;
	list-style: none outside none;

	.step {
		float: left;

		margin: 0;
		padding: 0 20px 0 30px;
		height: 46px;
		line-height: 46px;
		position: relative;
		font-size: 16px;

		background-color: #EEEEEE;

		&.current {
			background-color: #8CD9FF;

			.separator:before {
				border-left: 14px solid #8CD9FF;
			}
		}

		.separator {
			border: 23px solid transparent;
			border-left: 14px solid #cdcdcd;
			border-right: 0;
			display: block;
			position: absolute;
			right: -14px;
			top: 0;
			z-index: 1;
		}

		.separator:before {
			border: 23px solid transparent;
			border-left: 14px solid #EEEEEE;
			border-right: 0;
			content: "";
			display: block;
			position: absolute;
			right: 1px;
			top: -23px;
		}

		&:first-child {
			padding-left: 20px;
		}
	}
}
